﻿body {
    margin:10px;
}

table { 
	border-spacing:0;
    border-collapse:collapse;
}

table thead tr th{
    padding-top:15px;
    padding-bottom: 15px;
}

thead tr:nth-child(2n+1) {
    background-color: #052845;
    color: #fff;
}

tbody tr:nth-child(2n+1) {
    background-color: #DDE7E9;
}

tbody tr { 
    border-left: 2px solid #DDE7E9; 
    border-right: 2px solid #DDE7E9;
}

td { 
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
}

@media only screen and (max-width: 640px) {
	
	/* Force table to not be like tables anymore */
	table, 
	thead, 
	tbody, 
	th, 
	td, 
	tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
    /* Behave  like a "row" */
	td { 
		border: none;
		border-left: 0px solid #DDE7E9;
        border-right: 0px solid #DDE7E9; 
		position: relative;
		padding-left: 40%; 
        padding-top: 5px;
        padding-bottom: 5px;
		white-space: normal;
		text-align:left;
	}

    
	/* Now like a table header */
	/* Top/left values mimic padding */
	td:before { 
		position: absolute;
		top: 0px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        padding-top: 5px;
        padding-bottom: 5px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
        /* Label the data */
        content: attr(data-title)":";
	}
}

span.hilite {
	background: #FFFF00;
}

span.hiliteGreen {
	background: #00E800;
}